@page "/category/categoryList"
@inject ICategoryService db
@inject NavigationManager nav
    @if(da.Equals("Admin"))
    {
        <div class="col-4 offset-2">
            <NavLink href="@($"category/add")" class="buttonbrown">Add New Category</NavLink>
        </div>
    }

    <br />
    <br />
      <div class="container">
        <div class="card">
    @foreach(var i in cat)
    {
       
            <div class="content">
                    <h4> <b>@i.Name</b> </h4>
                    <br />                    
                <img class="imgg" src="@i.ImageUrl" />
                <br />
                <br />
                @if(da.Equals("User"))
                {
                        <NavLink class="buttongreen" href="@($"item/categorybasedmenu/{i.Id}")">See Menu</NavLink>
                }
                @if(da.Equals("Admin"))
                {
                        

                        <NavLink class="buttonbrown" href="@($"category/edit/{i.Id}")">Edit Category</NavLink>
                        <NavLink class="buttonbrown" href="@($"item/categorybasedmenu/{i.Id}")">See Menu</NavLink>

                }
                
                <p>------------------------------------------------------</p>
            </div>
      
    }
        </div>
    </div>
  
@code {
    private List<Category> cat= new List<Category>();
    string da = Authorize.getusertype();
    protected async override Task OnInitializedAsync()
    {
        if(!da.Equals("Not"))
        {
            cat = await db.GetAllCategories();
        }
        else
        {
            nav.NavigateTo("login/register");
        }

    }


}
