@page "/item/categorybasedmenu/{catid:int}"
@inject NavigationManager nav
@inject IItemService db
<div class="row mt-4">
    <div class="cl-6">
        <h4 class="card-title text-black-info">Menus</h4>
    </div>
    <div class="col-4 offset-2">
        <NavLink href="@($"item/getall")" class="buttongreen">Get All Items</NavLink>
    </div>
    @if(da.Equals("Admin"))
    {
        <div class="col-4 offset-2">
            <NavLink href="@($"item/createitem")" class="buttonbrown">Add New Item</NavLink>
        </div>
    }
   
    <br />
    <br />
    
        @if (cat.Any())
        {
        <div class="container">
            <div class="card">
                @foreach (var d in cat)
                    {
                            <div class="content">
                            <h2>@d.ProdName</h2>
                            <img src="@d.ImageUrl" class="imgg"/>
                            <h4>Rs. @d.Price.00</h4>
                            <p>@d.Description</p>
                            

                            
                                @if(da.Equals("User"))
                                {
                                    <NavLink href="@($"cart/addtocart/{d.Id}")" class="buttongreen">Add to Cart</NavLink>
                                }
                                
                                @if(da.Equals("Admin"))
                                {
                            @if (d.IsActive == 0)
                            {
                                <NavLink class="buttonbrown" href="@($"item/active/{d.Id}")">Activate</NavLink>
                            }
                            else
                            {
                                <NavLink class="buttonbrown" href="@($"item/inactive/{d.Id}")">InActivate</NavLink>
                            }
                            <span>   </span>
                            <NavLink href="@($"item/edit/{d.Id}")" class="buttongreen">Edit</NavLink>
                                }
                                
                            <p>------------------------------------------------------------</p>
                        </div>
                     
                    }
                    </div>
            </div>
        }
        else{
        <h4 class="card-title text-black-info">No Menus found under this category. Please try other categories.</h4>
        }
</div>

@code {
    private List<Item> cat = new List<Item>();
    [Parameter]
    public int catid { get; set; }
    string da = Authorize.getusertype();
    protected async override Task OnInitializedAsync()
    {
        
        if(da.Equals("User") || da.Equals("Admin"))
        {
            cat = await db.GetItemsBasedOnCategory(catid);
        }
        else
        {
            nav.NavigateTo("login/register");
        }


    }

}
