@page "/item/categorybasedmenu/{catid:int}"
@inject NavigationManager nav
@inject IItemService db
   
   
    <br />
    <br />
    
        @if (cat.Any())
        {
        
            <div class="summary">
        <h1><b>Menu</b></h1>
        <div class="col-4 offset-2">
            <NavLink href="@($"item/getall")" class="allitemsgreen" style="">Get All Items</NavLink>
        </div>
        @if (da.Equals("Admin"))
        {
            <div class="col-4 offset-2">
                <NavLink href="@($"item/add")" class="allitemsbrown">Add New Item</NavLink>
            </div>
        }
                @foreach (var d in cat)
                    {
                            <div class="content">
                            <h2><b>@d.ProdName</b></h2>
                <div class="img-wt-des">
                            <img src="@d.ImageUrl" class="imggflex" />
                    <div class="desc">
                            <p>@d.Description</p>
                            </div>
                            </div>
                            <div class="left-div">
                            <h4>Rs. @d.Price.00</h4>
                            </div>
                           <br />
                            <br />
                            <div class="left-div">
                            
                                @if(da.Equals("User"))
                                {
                                    <NavLink href="@($"cart/addtocart/{d.Id}")" class="buttongreen">Add to Cart</NavLink>
                                }
                                
                                @if(da.Equals("Admin"))
                                {
                            @if (d.IsActive == 0)
                            {
                            <div class="col-12">
                                <Switch OnColor="Color.Success" OffColor="Color.Danger" OnText="Active" OffText="InActive"  ValueChanged="()=>Activate(d.Id)"></Switch>
                            </div>
                            <!--  -->
                            <NavLink class="buttonbrown" href="@($"item/active/{d.Id}")">Activate</NavLink>
                                
                            }
                            else
                            {
                            <div class="col-12">
                                <Switch OnColor="Color.Danger" OffColor="Color.Success" OnText="InActive" OffText="Active"  ValueChanged="()=>InActivate(d.Id)"></Switch>
                            </div>
                            <!--  -->
                            <NavLink class="buttonbrown" href="@($"item/inactive/{d.Id}")">InActivate</NavLink>
                        }
                            <span>   </span>
                            <NavLink href="@($"item/edit/{d.Id}")" class="buttongreen">Edit</NavLink>
                                }
                                </div>
                                <br />
                                <br />
                                
                        </div>
                        <hr />
                     
                    }
                    </div>
            
        }
        else{
        <h4 class="card-title text-black-info">No Menus found under this category. Please try other categories.</h4>
        }

@code {
    private List<Item> cat = new List<Item>();
    [Parameter]
    public int catid { get; set; }
    string da = Authorize.getusertype();
    protected async override Task OnInitializedAsync()
    {

        if(da.Equals("User"))
        {
            cat = await db.GetItemsBasedOnCategory(catid);
            foreach(var i in cat)
            {
                if(i.IsActive==0)
                {
                    i.BootIsActive = false;
                }
                else
                {
                    i.BootIsActive = true;
                }
            }
        }
        else if (da.Equals("Admin"))
        {
            cat = await db.AdminGetItemsBasedOnCategory(catid);
            foreach (var i in cat)
            {
                if (i.IsActive == 0)
                {
                    i.BootIsActive = false;
                }
                else
                {
                    i.BootIsActive = true;
                }
            }
        }
        else
        {
            nav.NavigateTo("login/register");
        }


    }
    public void Activate(int id)
    {
        nav.NavigateTo("item/active/"+id);
        
    }
    public void InActivate(int id)
    {
        nav.NavigateTo("item/inactive/"+id);
    }

}
