@page "/item/categorybasedmenu/{catid:int}"
@inject NavigationManager nav
@inject IItemService db
<div class="row mt-4">
    <div class="cl-6">
        <h4 class="card-title text-black-info">Menus</h4>
    </div>
    <div class="col-4 offset-2">
        <NavLink href="@($"item/getall")" class="btn btn-primary">Get All Items</NavLink>
    </div>
    @if(da.Equals("Admin"))
    {
        <div class="col-4 offset-2">
            <NavLink href="@($"item/createitem")" class="btn btn-primary">Add New Item</NavLink>
        </div>
    }
   
    <br />
    <br />
    <div class="col-12">
        @if (cat.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var d in cat)
                    {
                        <tr>
                            <td><img src="@d.ImageUrl" /></td>
                            <td>@d.ProdName</td>
                            <td>@d.Description</td>
                            <td>Rs. @d.Price.00</td>

                            <td>
                                @if(da.Equals("User"))
                                {
                                    <NavLink href="@($"cart/addtocart/{d.Id}")" class="btn btn-primary">Add to Cart</NavLink>
                                }
                                
                                @if(da.Equals("Admin"))
                                {
                                    <NavLink href="@($"item/edit/{d.Id}")" class="btn btn-primary">Edit</NavLink>
                                    <NavLink class="btn btn-primary" href="@($"item/inactive/{d.Id}")">InActivate</NavLink>
                                }
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else{
        <h4 class="card-title text-black-info">No Menus found under this category. Please try other categories.</h4>
        }
    </div>
</div>

@code {
    private List<Item> cat = new List<Item>();
    [Parameter]
    public int catid { get; set; }
    string da = Authorize.getusertype();
    protected async override Task OnInitializedAsync()
    {
        
        if(da.Equals("User") || da.Equals("Admin"))
        {
            cat = await db.GetItemsBasedOnCategory(catid);
        }
        else
        {
            nav.NavigateTo("login/register");
        }


    }

}
