@page "/item/getall"
@inject NavigationManager nav
@inject IItemService db
<div class="row mt-4">
    <div class="cl-6">
        <h4 class="card-title text-black-info">All Items</h4>
    </div>
    <br />
    <br />
    <div class="col-12">
        @if (cat.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var d in cat)
                    {
                        <tr>
                            <td><img src="@d.ImageUrl" /></td>
                            <td>@d.ProdName</td>
                            <td>@d.Description</td>
                            <td>Rs. @d.Price.00</td>

                            <td>
                                @if(dd.Equals("Admin"))
                                {
                                    @if (d.IsActive == 0)
                                    {
                                        <NavLink class="btn btn-primary" href="@($"item/active/{d.Id}")">Activate</NavLink>
                                    }
                                    else
                                    {
                                        <NavLink class="btn btn-danger" href="@($"item/inactive/{d.Id}")">InActivate</NavLink>
                                    }
                                    <NavLink href="@($"item/edit/{d.Id}")" class="btn btn-primary">Edit</NavLink>
                                }
                                else
                                {
                                    <NavLink class="btn btn-success" href="@($"cart/addtocart/{d.Id}")">Add To Cart</NavLink>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h4 class="card-title text-black-info">No Menus found under this category. Please try other categories.</h4>
        }
    </div>
</div>

@code {
    private List<Item> cat = new List<Item>();
    string dd = Authorize.getusertype();
    protected async override Task OnInitializedAsync()
    {
        if(!dd.Equals("Not"))
        {
            cat = await db.GetAllItems();
        }
        else
        {
            nav.NavigateTo("login/register");
        }

    }

}
